* {
    margin: 0;
    text-decoration: none;
    border: none;
}

img {
    width: 10%;
}

a,
p {
    color: #b7b8bc;
}

h1 {
    color: #fefefe;
}

h4 {
    color: #b73631;
}

button {
    background-color: #e5383a;
}

h2,
h3 {
    color: #0c0d13;
}

/* Header */
.nav-bar a:hover {
    text-decoration: none;
    color: #b73631;
}


.contenedor {
    width: 100%;
    height: 12vh;
    background-color: #25252d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor .logo {
    margin: 0 10% 0 10%;
    width: 10%;
}

.contenedor .nav-bar {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10%;
    gap: 1.5em;
}

.contenedor .persona {
    display: flex;
    margin-right: -1.2em;
}

.contenedor .lupa {
    width: 2%;
    color: #e2e2e4;
}

.contenedor svg {
    color: #e2e2e4;
    cursor: pointer;
}


/* Section 1 */
.seccion-1 {
    display: flex;
    background-color: #212129;
    padding: 6% 10% 6% 10%;
}

.contenedor-texto {
    margin-left: 10em;
    margin-top: 6em;
}


.seccion-1 img {
    width: 90%;
}

/* Section 2 */
.seccion-2 {
    background-color: #ffffff;
    display: flex;
    padding: 10% 10% 10% 10%;
    color: #909090;
}

.contenedor-servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 4em;
    grid-column-gap: 0em;
}

.contenedor-interno {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

}

.contenedor-negro1 {
    background-color: #212129;
    padding: 2em 3em 2em 1em;
    margin-right: 2em;
}

.contenedor-negro1 svg,
.contenedor-negro1 h2,
.contenedor-negro1 h3 {
    color: #ffffff;
}

.contenedor-negro2 {
    background-color: #212129;
    padding: 2em 3em 2em 1em;
    margin-right: 2em;
}

.contenedor-negro2 h2 {
    color: #ffffff;
}

.contenedor-negro2 svg,
.contenedor-negro2 h3 {
    color: #e5383a;
}

.contenedor-blanco1 {
    padding: 2em 3em 2em 1em;
    margin-right: 2em;
    margin-bottom: -2em;
}

.contenedor-blanco1 svg {
    color: #e5383a;
}

.contenedor-blanco2 {
    padding: 2em 3em 2em 1em;
    margin-top: -2em;
    margin-right: 2em;
}

.contenedor-blanco2 svg,
.contenedor-blanco2 h3 {
    color: #e5383a;
}

.contenedor-main_service {
    margin: 15% 10% 15% 0;
}


.seccion-3 {
    display: flex;
    align-items: center;
    padding: 7% 10% 7% 10%;
    background-color: #212129;
}

.seccion-3 .perfil {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.perfil button {
    width: 15%;
    padding: 1em;
}

.seccion-3 img {
    width: 90%; 
    margin-left: 10%;
}




.seccion-4 {
    background-color: brown;
}

.seccion-5 {
    background-color: cadetblue;
}

.seccion-6 {
    background-color: burlywood;
}

.seccion-7 {
    background-color: yellowgreen;
}

.seccion-8 {
    background-color: coral;
}

footer {
    background-color: dimgrey;
}