* {
    margin: 0;
    text-decoration: none;
}

img {
    width: 10%;
}

a {
    color: #b7b8bc;
}

a:hover {
    text-decoration: none;
    color: #b73631;
}

header {
    background-color: #25252d;
    height: 20vh;
}

header img {
    padding-top: 2em;
}

header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-bottom: 2em;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2%;

}


.seccion-1 {
    background-color: aqua;
}

.seccion-2 {
    background-color: white;
}

.seccion-3 {
    background-color: blue;
}

.seccion-4 {
    background-color: brown;
}

.seccion-5 {
    background-color: cadetblue;
}

.seccion-6 {
    background-color: burlywood;
}

.seccion-7 {
    background-color: yellowgreen;
}

.seccion-8 {
    background-color: coral;
}

footer {
    background-color: dimgrey;
}